<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Picker 9000</title>
    <!--Styles-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.min.css">
</head>

<body>
    <header>
        <h1>Game Picker 9000</h1>
    </header>

    <main>
        <div class="hero">
            <img src="../img/keyboard.jpeg" alt="keyboard texture" class="hero__bg">
            <div class="container">
                <h2>404</h2>
            </div>
        </div>

        <div class="container">
            <h3>The location you were looking for isn't here...</h3>
            <p>This is the Game Picker 9000, a Node.js application that pulls a user's data from the Steam Web API and
                selects a rendom game to play. For more
                information on the Steam Web API, see the official <a href="https://steamcommunity.com/dev"
                    target="_blank" rel="noopener">documentation</a>.</p>
            <p>If you've landed on this page in error, try
                returning to the <a href="/">Home
                    Page</a>. From there you can use your Steam ID to pull information about your profile.</p>

            <a href="/" class="btn btn--green">Go Home</a>
        </div>
    </main>

    <footer>
        Site by <a href="https://github.com/K8215" target="_blank">K8215</a> |
        <script>
            document.write(new Date().getFullYear());
        </script>
    </footer>

    <!--Scripts-->
    <script src="../js/game-picker.js"></script>
</body>

</html>