<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Picker 9000</title>
    <!--Styles-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.min.css">
</head>

<body>
    <header>
        <h1>404 Not Found</h1>
    </header>

    <main>

    </main>

    <footer>
        Site by <a href="https://github.com/K8215" target="_blank">K8215</a> |
        <script>
            document.write(new Date().getFullYear());
        </script>
    </footer>

    <!--Scripts-->
    <script src="../js/game-picker.js"></script>
</body>

</html>